body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navstyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8B0000; /* Qizil fon */
    padding: 15px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Burger menyu - faqat mobil uchun */
.burger {
    font-size: 28px;
    color: white;
    cursor: pointer;
    display: none;
}

/* Mobil qurilma uchun o‘zgartirish */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #8B0000;
        text-align: center;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        display: flex;
    }
}


.logo-container {
    text-align:left;
}
.logo-container img {
    width: 80%;
    max-width: 300px;
    min-width: 350px;
    height: auto;
}
@media (min-width: 1024px) {
    .logo-container img {
        width: 150px;
    }
}

/* Desktop uchun logotipni chapga joylash */
.logotip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* Mobil uchun logotipni o'rtaga joylash */
  @media (max-width: 768px) {
    .logotip {
      display: flex;
      justify-content: center;
      align-items: center;
    }

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}
